ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  #myButton {
    float: right;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: default;
  }
  
  #myButton:hover {
    background-color: #3e8e41;
  }
  
  input[type=text] {
    float: right;
    padding: 14px 16px;
    box-sizing: none;
    border: none;
    background-color: #04AA6D;
    color: white;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    cursor: default;
  }